@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');



html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#navbar {
    max-width: 100vw;
    min-height: 100px;
    font-size: 24px;
    font-weight: 400;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar a {
    padding: 0 1rem;
    font-size: 16px;
    text-decoration: none;
    color: #e5e7eb;
}

#intro-section {
    max-width: 100vw;
    min-height: 400px;
    padding: 30px 50px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    gap: 230px;
    justify-content: center;
}

#intro-section img {
    max-width: 400px;
    max-height: 400px;
}

#text-and-button {
    max-width: 400px;
    max-height: 400px;
}

#text-and-button h1 {
    font-size: 48px;
    font-weight: bold;
}

#text-and-button p {
    font-size: 18px;
    color: #e5e7eb;
}

#text-and-button button {
    width: 130px;
    height: 40px;
    margin-top: 1rem;
    font-size: 18px;
    text-decoration: none;
    border-radius: 0.5rem;
    border-style: none;
    background-color: #3882f6;
    color: #f9faf8;
    
    
}

#main-section {
    max-width: 100vw;
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

#main-section h1 {
    margin: 3rem 0;
    font-size: 36px;
    color: #1f2937;
}

#main-section img {
    width: 175px;
    height: 175px;
    border: 0.3rem solid #3882f6;
    border-radius: 0.7rem;
}

#main-section p {
    width: 175px;
    display: inline-block;
}

#quote-section {
    max-width: 100vw;
    min-height: 400px;
    max-height: 400px;
    font-style: italic;
    background-color: #e5e7eb;
}

#quote-container {
    max-width: 41vw;
    margin: 0 auto;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
}

#quote-container h1 {
    font-size: 36px;
    font-weight: 300;
}

#quote-container h2 {
    padding-right: 2rem;
    text-align: right;
}

#call-to-action {
    max-width: 100vw;
    max-height: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

#action-button {
    min-width: 50vw;
    min-height: 140px;
    margin: 8rem auto;
    border: 2px solid #f9faf8;
    border-radius: 0.6rem;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 9rem;
}

#title-and-bio h1 {
    color: #f9faf8;
}

#title-and-bio p {
    color: #e5e7eb;
}

#action-button button {
    width: 7rem;
    height: 2rem;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #f9faf8;
    border-radius: 0.4rem;
    background-color: #3882f6;
    color: #f9faf8;
}

footer {
    max-width: 100vw;
    min-height: 100px;
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}

footer p {
    min-width: 50vw;
    padding-top: 2.3rem;
}